<div class="main-container">
    <div class="content-container">
    <div class="content-area">
      <div class="header" joyrideStep="firstStep" title="demoTour" text="Hi, Welcome to demo tour">
        <h3>JoyRide</h3>
      </div>
      <div class="section-container">
        <div class="sub-heading">
          <h4>
            Custom Heading
          </h4>
        </div>
        <div class="nav-bar">
          <ul class="nav-list">
            <li class="nav-item"><a href="javascript:void(0)" (click)="startTour()">Start Tour</a></li>
            <li class="nav-item"><span>Nav2</span></li>
            <li class="nav-item"><span>Nav3</span></li>
            <li class="nav-item"><span>Nav4</span></li>
          </ul>
        </div>
        <div class="sections">
          <div class="section1" joyrideStep="secondStep" title="demoTour" text="Hi, Welcome to demo tour">
            <div class="section-content">
              Section 1
            </div>
          </div>
          <div class="section2">
            <div class="section-content">
              Section 2
            </div>
          </div>
        </div>
        </div>
      <div class="footer">
        <div class="footer-content">
          JoyRide Footer
        </div>
      </div>
    </div>
    </div>
  </div>