<div class="main">
    <joyrideStep stepPosition="center" [stepNumber]="1" [stepContent]="myCustomContent">
        <ng-template #myCustomContent>
            <div style="width:500px"> Della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard sin dal sedicesimo secolo,
                quando un anonimo della tipografia e della stampa. Lorem Ipsum è considerato il testo segnaposto standard
                sin dal sedicesimo secolo, quando un anonimo della tipografia e della stampa. Lorem Ipsum è considerato il
                testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo tipografo prese una cassetta di caratteri
                e li assemblò per preparare un testo campione. Lorem Ipsum è considerato il testo segnaposto standard sin
                dal sedicesimo secolo, quando un anonimo della tipografia e della stampa. Lorem Ipsum è considerato il testo
                segnaposto standard sin dal sedicesimo secolo, quando un anonimo </div>
            <img src="../assets/images/angular.png" width="100" height="100">
        </ng-template>
    </joyrideStep>
    <h1 joyrideStep [stepNumber]="34" stepPosition="top" [stepContent]="step3Content">Angular2 Joyride library</h1>
    <pre joyrideStep stepPosition="left" [stepNumber]="21" [title]="'Step1 Title'" [text]="'This is the text'" style="position: absolute; top: 15px; right: 15px">This is 
        js code</pre>
    <div id="tester" [style.width.px]="20">Tester</div>

    <img joyrideStep stepPosition="top" stepNumber="5" title="Img step" text="Lorem ipsum, Lorem ipsumLsdorem Lorem ipsum, Lorem Lorem ipsum, Lorem Lorem ipsum, Lorem Lorem ipsum, Lorem"
        src="../assets/images/angular.png">

    <button joyrideStep stepPosition="top" stepNumber="1" class="app__start-button" (click)="startTour()">Start Tour</button>
    <div joyrideStep stepPosition="left" [stepNumber]="10">Step2</div>
    <span joyrideStep [stepNumber]="23">
        Span
    </span>
    <span joyrideStep [stepNumber]="4" [stepContent]="step3Content">Step with custom content</span>
    <ng-template #step3Content>
        <aj-custom-component></aj-custom-component>
    </ng-template>
    <joyrideStep stepPosition="center" [stepNumber]="4"></joyrideStep>
    <div joyrideStep class="lorem" [stepNumber]="1" title="Lorem" text="Lorem Ipsum è un testo segnaposto utilizzato nel settore 
        della tipografia e della stampa. Lorem Ipsum è considerato il 
        testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo 
        della tipografia e della stampa. Lorem Ipsum è considerato il 
        testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo 
        della tipografia e della stampa. Lorem Ipsum è considerato il 
        testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo 
        tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione.
        Lorem Ipsum è considerato il 
        testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo 
        della tipografia e della stampa. Lorem Ipsum è considerato il 
        testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo 
        tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione.">Lorem</div>
    <div class="stepOnRight" joyrideStep [stepNumber]="9">Step on the right side</div>

    <div class="big-panel">
        This is a big div in order to have the page scroll
        <div joyrideStep title="My step" text="This element is Highlighted." [stepNumber]="7" class="big-panel__footer">I'm the target!</div>
        <div class="small-panel">
            <img joyrideStep class="big-panel__image" stepPosition="top" stepNumber="11" title="Img step" text="uuuuu  uuryf sdfdsf"
                src="../assets/images/angular.png" [style.width.px]="12" [style.height.px]="12">
        </div>
    </div>

    <div joyrideStep stepPosition="right" stepNumber="2" class="right-bottom">Right-bottom</div>
    <div joyrideStep stepPosition="right" stepNumber="1" class="bottom">Step on the right</div>
    <footer></footer>
</div>