<div class="main">
    <h1 joyrideStep [stepNumber]="34" stepPosition="top">Angular2 Joyride library</h1>
    <pre joyrideStep [stepNumber]="21" [title]="'Step1 Title'" [text]="'This is the text'" style="position: absolute; top: 15px; right: 15px">This is 
        js code</pre>

    <div>
        <div>Step1</div>
    </div>

    <div id="tester" [style.width.px]="20">aaaaa</div>

    <img joyrideStep stepPosition="top" stepNumber="5" title="Img step" text="Lorem ipsum, Lorem ipsumLsdorem Lorem ipsum, Lorem Lorem ipsum, Lorem Lorem ipsum, Lorem Lorem ipsum, Lorem" src="../assets/images/angular.png">

    <button class="app__start-button" (click)="startTour()">Start Tour</button>
    <button joyrideStep [stepNumber]="2">Remove step2</button>
    <div joyrideStep [stepNumber]="10">Step2</div>
    <div joyrideStep [stepNumber]="12" stepPosition="bottom">Step5</div>
    <span joyrideStep [stepNumber]="23">
        asa
    </span>
    <span joyrideStep [stepNumber]="4">www</span>

    <div joyrideStep 
        class="lorem"
        [stepNumber]="1"
        title="Lorem"
        text="Lorem Ipsum è un testo segnaposto utilizzato nel settore 
        della tipografia e della stampa. Lorem Ipsum è considerato il 
        testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo 
        della tipografia e della stampa. Lorem Ipsum è considerato il 
        testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo 
        della tipografia e della stampa. Lorem Ipsum è considerato il 
        testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo 
        tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione.
        Lorem Ipsum è considerato il 
        testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo 
        della tipografia e della stampa. Lorem Ipsum è considerato il 
        testo segnaposto standard sin dal sedicesimo secolo, quando un anonimo 
        tipografo prese una cassetta di caratteri e li assemblò per preparare un testo campione.">Lorem</div>
    <div class="stepOnRight" joyrideStep [stepNumber]="9">asbjdas</div>

    <div class="big-panel">
        This is a big sd in order to have the page scroll
        <div joyrideStep title="My step" text="This element is Highlighted." [stepNumber]="7" class="big-panel__footer">I'm the target!</div>
        <div class="small-panel">
            <img joyrideStep class="big-panel__image" stepPosition="top" stepNumber="11" title="Img step" text="uuuuu  uuryf sdfdsf" src="../assets/images/angular.png"
                [style.width.px]="12" [style.height.px]="12">
        </div>
    </div>

    <div class="right-bottom">Right-bottom</div>
</div>